@*
    PARTIELLE VIW: Teilansicht
        partielle Views werden in andere Viewa (z.B. _Layout)
        eingebunden
        => übersichtlicher, an mehreren Stellen verwendbar
*@

<ul>
    <li class="level1">
        <a href="/home/index">Startseite</a>
    </li>
    <li class="level2">
        <a href="/home/aboutUs">Über uns</a>
    </li>

    <li class="level1">
        <a href="/user/index">Userverwaltung</a>
    </li>
    <li class="level2">
        <a href="/user/registration">Registrierung</a>
    </li>
    <li class="level2">
        <a href="/user/login">Login</a>
    </li>

    <li class="level1">
        <a href="/shop/index">Shop</a>
    </li>
    <li class="level2">
        <a href="/shop/search">Artikelsuche</a>
    </li>
    <li class="level2">
        <a href="/shop/basket">Warenkorb</a>
    </li>
</ul>